<nav class="white">
  <a  *ngIf="(authService.userSignedIn$ | async)" href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
  <div class="nav-wrapper container">
    <a id="logo-container" [routerLink]="['']" class="brand-logo">Petrushka Boutique</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngIf="(authService.userSignedIn$ | async)"><a [routerLink]="['/orders']">ORDENES</a></li>
        <li *ngIf="(authService.userSignedIn$ | async)"><a [routerLink]="['/products']">PRODUCTS</a></li>
        <li *ngIf="(authService.userSignedIn$ | async)"><a [routerLink]="['/profile']">PROFILE</a></li>
        <li *ngIf="(authService.userSignedIn$ | async)"><a (click)="logOut()">LOGOUT</a></li>
   </ul>
  </div>
</nav>

  <ul  id="slide-out" class="sidenav">
    <li><div class="user-view">
      <a href="#user"><i class="material-icons prefix">account_circle</i></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li *ngIf="(authService.userSignedIn$ | async)"><a (click)="logOut()">LOGOUT</a></li>
  </ul>
  