<div class="container">
  <form [formGroup]="angForm" novalidate>
    <div class="input-field col s12">
      <input id="style" class="form-control validate" required formControlName="style" type="text">
      <label for="style">Style</label>
      <div
        *ngIf="angForm.controls['style'].invalid && (angForm.controls['style'].dirty || angForm.controls['style'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['style'].errors.required">
          <span class="helper-text" style="color: red">Inserte el estilo</span>
        </div>
      </div>
    </div>
    <div class="input-field col s12">
      <input id="mark" class="form-control validate" required formControlName="mark" type="text">
      <label for="mark">mark</label>
      <div
        *ngIf="angForm.controls['mark'].invalid && (angForm.controls['mark'].dirty || angForm.controls['mark'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['mark'].errors.required">
          <span class="helper-text" mark="color: red">Inserte el estilo</span>
        </div>
      </div>
    </div>
    <div class="input-field col s12">
      <select formControlName="type" required>
        <option value="" disabled selected>Selecciona una opcion</option>
        <option *ngFor="let c of types" [ngValue]="c.id">{{c.type}} </option>
      </select>
      <label>Tipo</label>
      <div *ngIf="angForm.controls['type'].errors">
        <span class="helper-text" style="color: red">Seleccion uno</span>
      </div>
    </div>
    <!--Items sections-->
    <h3></h3>
    <div class="section" formArrayName="product_types">
      <h1>Items</h1>
      <button (click)="addType()" class="waves-effect waves-light btn green ">Nuevo item<i
          class="material-icons right">add</i> </button>
      <div class="card col-12" *ngFor="let type of typesFormGroup.controls; let i = index;">
        <div [formGroupName]="i" class="row">
          <div class="input-field col s12">
            <input id="size" formControlName="size" class="form-control validate" type="text">
            <label for="size">Talla</label>
            <div
              *ngIf="getTypesFormGroup(i).controls['size'].touched && getTypesFormGroup(i).controls['size'].hasError('required')">
              <span class="helper-text" style="color: red">Inserte la talla</span>
            </div>
          </div>
          <div class="input-field col s12">
            <input id="quantity" formControlName="quantity" class="form-control validate" type="text">
            <label for="quantity">Cantidad</label>
            <div
            *ngIf="getTypesFormGroup(i).controls['quantity'].touched && getTypesFormGroup(i).controls['quantity'].hasError('required')">
            <span class="helper-text" style="color: red">Inserte la Cantidad</span>
          </div>
          </div>
          <div class="input-field col s12">
            <input id="color" formControlName="color" class="form-control validate" type="text">
            <label for="color">Color</label>
            <div
            *ngIf="getTypesFormGroup(i).controls['color'].touched && getTypesFormGroup(i).controls['color'].hasError('required')">
            <span class="helper-text" style="color: red">Inserte la Color</span>
          </div>
          </div>
        </div>
        <a (click)="removeType(i)" class="btn-floating halfway-fab waves-effect waves-light red"><i
            class="material-icons">close</i></a>
      </div>
    </div>
    <p>Form value: {{ angForm.value | json }}</p>
    <p>Form status: {{ angForm.status | json }}</p>
    <button class="btn waves-effect waves-light" [disabled]="angForm.pristine || angForm.invalid"
      class="btn btn-success">Guardar
      <i class="material-icons right">send</i>
    </button>
  </form>

</div>