<div class="row">
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" [(ngModel)]="params" type="search" required [ngModelOptions]="{standalone: true}">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</div>
<button [routerLink]="['/orders/new']" class="waves-effect waves-light btn blue right">Nuevo <i
    class="material-icons right">add</i> </button>
<h4 class="h4">Productos</h4>

<div class="row">
  <div class="col s4" *ngFor="let product of products | filter: {style: params, mark: params};">
    <div class="card medium hoverable">
      <h6 class="center">Code: {{product.style}}</h6>
      <h6>{{product.mark}}</h6>
      <div class="row">
        <div class="col s6 center">
          <h4>{{product.price}}</h4>
        </div>
        <div class="col s6 center">
          <h4>{{product.stock}}</h4>
        </div>
      </div>
      <div class="card-content" style="max-height: 50%; overflow: auto;">
        <div class="collection" *ngFor="let pa of product.product_attributes">
          <span class="title">Talla: {{pa.size}}</span>
          <p class="title">Color: {{pa.color}}</p>
          <span class="new badge" data-badge-caption="Enviar"
            (click)="viewDetailAttribute(produict._id, pa.id)">1</span>
        </div>
      </div>
      <div class="card-action">
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">send</i></a>
      </div>
    </div>
  </div>
</div>

